/*CSS RESET*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*COLOR PALETTE
    header text, main text: #252525
    footer text: #ffffff
    main-blue: #0061ff
    full-width-sections-bg: #b4d0e7
    footer-bg: #000000
    special-h2: #61082b

    designit-1: #a2d39b
    design-it-1-border: #d1e9cd
    asu: #61082b
    uf: #0093ce
    topps: #ff1c1c
    designit-2: f5f5f5
    wbr: #d5001f
    hearst: #b4d0e7
    lonely-planet: #0d2481
    cco: #ffd830
*/

/* --- REGOLE GENERALI --- */
body {
    font-family: 'Open Sans', sans-serif;
}

.smallContainer {
    max-width: 1000px;
    margin: 0 auto;
    background-color: red;
}

.largeContainer {
    max-width: 1180px;
    margin: 0 auto;
    background-color: orange;
}

.smallText {
    font-size: 0.8rem;
    color: #252525;
}

.bigText {
    font-size: 0.9rem;
    color: #252525;
}

.btn {
    border: 1px solid black;
    padding: 0.4em 1em;
    text-decoration: none;
    text-align: center;
}

.bigBtn {
    padding: 0.7em 0.9em;
}

.blueBtn {
    border: none;
    color: #ffffff;
    background-color: #0061ff;
}

h2 {
    font-size: 2rem;
    color: #252525;
}

h3 {
    font-size: 1.3rem;
    color: #252525;;
}

.customHR {
    width: 20%;
    border-color: lightgray;
    border-top: none;
    margin: 2rem 0;
}

/* --- HEADER --- */
body > header {
    width: 100vw;
    height: 8vh; 
  
    position: fixed;
    top: 0;
    left: 0;
    z-index: 30;
    
    padding: 0 1.1rem;
    background-color: #ffffff;
}

header nav {
    height: 100%;

    display: flex;
    justify-content: space-between;
}

header nav div ul {
    display: flex;
    align-items: center;
    gap: 1.5rem;

    height: 100%;
    list-style: none;
}

header nav div ul li{
    display: flex;
    align-items: center;
    height: 100%;
}

header nav div ul li a{
    text-decoration: none;
    padding: 0.4rem;
    font-size: 0.9rem;
    color: #252525;
}

/* --- MAIN --- */
main {
    margin-top: 8vh;
}

main > section {
    margin: 9rem 0;
}

main .smallContainer > section{
    margin-top: 9rem;
}

/* --- JUMBOTRON --- */
#jumbotronSection {
    background-color: #b4d0e7;
    margin: 0;
}

#jumbotronSection > .largeContainer {
    position: relative;
    top: 70px;
}

#jumbotronSection > .largeContainer h1 {
    font-size: 4rem;
    font-weight: 800;
    margin-bottom: 3rem;
}

#jumbotronSection .largeContainer > div {
    display: flex;
    justify-content: space-between;

    width: 100%;
}

#jumbotronSection .largeContainer > div > .textContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    width: 31%;
}

#jumbotronSection .btn {
    margin: 2rem 0;
}

#jumbotronSection i {
    margin-top: 2rem;
    font-size: 3rem;
    color: #252525;
}

#jumbotronSection .largeContainer > div > .imgContainer {
    width: 68%;
}

#jumbotronSection img {
    width: 100%;
}

main #plansSection {
    width: 100%;
    margin-bottom: 9rem;
    background-color: wheat;
}

#plansSection #planSelector {
    margin: 2.5rem 0;
}

#planSelector input[type="radio"] {
    display: none;
}

#plansSection #planSelector label {
    margin: 0 1.5rem;
    position: relative;
    cursor: pointer;
}

#planSelector label::before {
    content: '';
    display: inline-block;
    width: 15px;
    height: 15px;

    position: absolute;
    right: 102%;
    top: 50%;
    transform: translateY(-50%);

    border: 2px solid gray;
    border-radius: 50%;

    background-color: #ffffff;
    transition: all 0.1s;
}

#planSelector input:checked + label::before {
    width: 10px;
    height: 10px;
    border: 5px solid #0061ff;
}

#plansSection .colContainer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 2.5rem;
}

.smallCol {
    width: calc((100% / 3) - calc(5rem / 3));
}

.col {
    border: 1px solid lightgrey;
    background-color: #ffffff;
}

.col > header {
    border-bottom: 1px solid lightgray;
    text-align: center;
    padding: 0.5rem 0;
}

.col > .planContainer {
    padding: 2.0rem 1.8rem;
}

.planContainer .planContainerTop {
    display: flex;
    flex-direction: column;
}

.planContainerTop div a {
    color: blue;
}

#plansSection .planPrice {
    font-weight: bold;
}

#plansSection .planPrice br {
    margin: 0.5rem 0;
}

#plansSection .planPrice span {
    color: gray;
}

#plansSection .planPrice::before{
    content: '\20AC';  /*euro icon*/
}
.planContainer ul {
    list-style: none;
    margin: 2.5rem 0;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.3rem;
}

.planContainer ul li{
    position: relative;
    list-style: none;
    margin-left: 10px;
}

.planContainer ul li::before {
    font-family: 'FontAwesome';

    position: absolute;
    right: 102%;
    top: 0;
}

.planContainer > .planContainerTop ul li:nth-of-type(1)::before  {
    content: '\f007';  /*user icon*/
}

.planContainer > .planContainerTop ul li:nth-of-type(2)::before  {
    content: '\f07b';
}

.planContainer > .planContainerTop ul li:nth-of-type(3)::before  {
    content: '\e4e2';
}

.planContainer .btn {
    margin-bottom: 1.5rem;
    /* font-size: 0.8rem; */
}

.planContainerBottom h4 {
    margin: 0.5rem 0 1.7rem;
}

.planContainerBottom ul li::before {
    content: '\f00c';
    color: #0061ff;
    font-weight: bold;
}






#plansSection .largeCol .row {
    width: 100%;
    display: flex;
    /* background-color: violet; */
    justify-content: space-between;
    align-items: center;
}

#partner {
    background-color: teal;
    margin: 5rem 0;
    display: flex;
}

#partner .imgContainer {
    background-color: violet;
    width: 60%;
}

#partner .textContainer {

    width: 40%;
}

.cardContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    background-color: yellow;
}

.card {
    width: 30%;
    /* height: 50px; */
    background-color: tomato;
    display: flex;
    flex-direction: column;
}

section {
    background-color: yellow;
    margin-bottom: 2rem
}

#dropboxBusinessSection .smallContainer {
    display: flex;
    justify-content: space-between;
}

#faqSection .faqContainer {
    border-bottom: 1px solid red;
}

#faqSection .faqContainer:first-of-type {
    border-top: 1px solid red;
}

footer {
    width: 100%;
    background-color: wheat;
}

#linkListsContainer {
    display: flex;
    gap: 3rem;
}

