/*CSS RESET*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*COLOR PALETTE
    header text, main text: #a3a3a3
    footer text: #ffffff
    main-blue: #0061ff
    full-width-sections-bg: #b4d0e7
    footer-bg: #000000
    special-h2: #61082b

    designit-1: #a2d39b
    design-it-1-border: #d1e9cd
    asu: #61082b
    uf: #0093ce
    topps: #ff1c1c
    designit-2: f5f5f5
    wbr: #d5001f
    hearst: #b4d0e7
    lonely-planet: #0d2481
    cco: #ffd830
*/